.DAT_Sidebar {
    position: relative;
    width: 240px;
    background-color: white;
    overflow: hidden;
    padding-top: 65px;
    box-shadow: 3px 3px 10px rgb(175, 174, 174, 0.5);
    z-index: 10;

    &_Tab {
        position: relative;
        display: flex;
        padding: 12px 16px;
        font-size: 16px;

        &_Icon {
            align-items: center;
            justify-content: flex-start;
            margin-right: 16px;
        }

        &_Arrow {
            margin-left: auto;
        }
    }

    &_Footer {
        padding: 0px 12px;
        box-sizing: border-box;
        height: 80px;
        background-color: rgba(33, 40, 50, 0.05);
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        z-index: 20;

        &_Container {
            display: block;
            white-space: nowrap;

            &_Sub {
                color: #212832;
                font-size: 12px;
            }

            &_Title {
                color: #212832;
                font-size: 16;
                font-weight: 600;
            }
        }
    }
}